// TOOLBOX COLORS
//---------------------------------------------------------------------
$almost-white: #FDFDFD;
$almost-black: #202020;
$darkgray: #333;

// PROJECT COLORS
//---------------------------------------------------------------------

$white: #FFF;
$black: #212121;
$gray: #727272;
$cyan: #00cccc;

// material colors, to create new palette check out: http://www.materialpalette.com/

$trueblack: #000000;
$deeporange: #E64A19;
$orange: #FF9800;

//---------------------------

$teal: #009688;
$darkteal: #00796B;
$lightteal: #B2DFDB;

$amber: #FFC107;

//----------------------------

$bluegray: #455A64;
$lightbluegray: #607D8B;
